body {
    background: rgb(114, 112, 112);
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.header{
    border: 5px dashed chocolate;
    margin: 20px;
    padding: 30px;
    background-color: burlywood;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h2 {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(70, 56, 37);
}

.buttons {
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 20px;
}
img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}
button {
    background-color: coral;
    border-radius: 15px;
    transition-duration: 0.4s;
}
button:hover{
    background-color: cornflowerblue;
    scale: 1.1;
}

.result {
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-weight: 800;
    font-size: 45px;
    color: rgb(70, 56, 37);
    padding: 25px;
    border: 5px dotted chocolate;
}